*, *:before, *:after {
  box-sizing: border-box;
}

html {
  align-items: center;
  background-color: #0099da;
  background-image: linear-gradient(50deg, #003248, #0099da);
  color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  justify-content: center;
  line-height: 1.3;
  min-height: 100%;
  text-align: center;
  padding: 5rem 3rem;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 370px) {
  html {
    padding: 4rem 2rem;
  }
}

.content {
  margin: auto;
  max-width: 500px;
  padding-bottom: 2rem;
}

.avatar {
  border-radius: 100%;
  box-shadow: rgba(0,0,0,0.4) 0 3px 12px;
  max-width: 150px;
  pointer-events: none;
  width: 40vw;
}

.name {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
}

.social-bar {
  display: block;
  margin-top: 2rem;
}

.social-link {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.3rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.social-link:hover {
  color: rgba(255, 255, 255, 0.85);
  transform: translate(0, -0.2rem) scale(1.1);
}

.fa-file-pdf-o.fa-file-pdf-o {
  font-size: 1.3rem;
  position: relative;
  top: -1px;
}
