html{
	background: url(../img/wood_1.png);
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
}
header, section, footer{
	width: 600px;
	margin: auto;
}
h1{
	font-size: 4em;
	font-weight: 100;
	line-height: 1.2em;
}
.intro{
	padding: 1.5em 0 0;

}
a{
	color: dodgerblue;
}
h2{
	font-size: 1.5em;
	margin-bottom: 0.4em;
}
h3{
	font-weight: bolder;
	padding: 0.4em 0.5em;
	background: #333;
	color: #aaa;
	cursor: pointer;
	transition: all;
	transition-duration: 300ms;

	@include border-radius: 3px;

	&:hover{
		color: #fff;
	}
}

section{
	padding: 2em 0 0;
	h2 a{
		color: #eee;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
	p{
		margin: 0 0 1em 0;
	}
}

article{
	margin-top: 0.5em;
	background: #333;
	@include border-radius: 3px;

	&.open h3{
		color: #fff;
		padding: 0.8em 0.8em 0;
		@include border-radius: 3px 3px 0 0;
		font-size: 1.4em;
	}
	.content{
		font-size: 0.9em;
		display: none;
		padding: 1.2em;
	}
	address{
	}
	pre{
		background: white;
		color: #222;
		padding: 1.2em;
		font-family: monospace;
		overflow: auto;
		@include border-radius: 3px;
		margin-top: 1em;
	}
}