#ajax_form {
  align-items:center;
  background-color:#424242;
  background-image:linear-gradient(50deg,#212121,#424242);
  width: 410px;
  font-family:'Roboto Mono',monospace;
  font-size: 12px
}

#ajax_form td {
  align-items:center;
  font-family:'Roboto Mono',monospace;
  font-size: 12px
}

#ajax_form_header {
  align-items:center;
  font-family:'Roboto Mono',monospace;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center
}

#returned_value {
  align-items:center;
  font-family:'Roboto Mono',monospace;
  text-align: center;
  font-size: 12px;
  color: #000000
}

#go {
  border: 1px solid #CCCCCC;
  background: #FFF
}
