/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, sass/snippets.scss */
html {
  background: url(../img/wood_1.png);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* line 11, sass/snippets.scss */
header, section, footer {
  width: 600px;
  margin: auto;
}

/* line 15, sass/snippets.scss */
h1 {
  font-size: 4em;
  font-weight: 100;
  line-height: 1.2em;
}

/* line 20, sass/snippets.scss */
.intro {
  padding: 1.5em 0 0;
}

/* line 24, sass/snippets.scss */
a {
  color: dodgerblue;
}

/* line 27, sass/snippets.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.4em;
}

/* line 31, sass/snippets.scss */
h3 {
  font-weight: bolder;
  padding: 0.4em 0.5em;
  background: #333;
  color: #aaa;
  cursor: pointer;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 42, sass/snippets.scss */
h3:hover {
  color: #fff;
}

/* line 47, sass/snippets.scss */
section {
  padding: 2em 0 0;
}
/* line 49, sass/snippets.scss */
section h2 a {
  color: #eee;
  text-decoration: none;
}
/* line 52, sass/snippets.scss */
section h2 a:hover {
  text-decoration: none;
}
/* line 56, sass/snippets.scss */
section p {
  margin: 0 0 1em 0;
}

/* line 61, sass/snippets.scss */
article {
  margin-top: 0.5em;
  background: #333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 66, sass/snippets.scss */
article.open h3 {
  color: #fff;
  padding: 0.8em 0.8em 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 1.4em;
}
/* line 72, sass/snippets.scss */
article .content {
  font-size: 0.9em;
  display: none;
  padding: 1.2em;
}
/* line 79, sass/snippets.scss */
article pre {
  background: white;
  color: #222;
  padding: 1.2em;
  font-family: monospace;
  overflow: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1em;
}
